@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');


:root{

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);

--main-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* border box use karne se tera jo element hai uska size constant rahega like
     if u add 50px padding the element will decrease it size to acccomodate the 
     padding but will keep its size constant */
}

body{
    font-family: "Outfit" , sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    
}
.card{
    width:450px;
    background-color: var(--card-bg);
    color: var(--soft-blue);
    padding: 25px 25px;
    border-radius: 2%;
    font-weight: 300;
    line-height: 26px;
    margin: 50px auto;
    position: relative;
    
}

.card h2 {
    font-weight: 600;
    color: var(--white);
    font-size: 22px;
    line-height: 20px;
    margin: 20px 0 10px 0;
}

.card h2:hover {
    color: var(--cyan);
}

.nft-card-image{
    width: 100% ;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    border-bottom: 1px solid var(--line);
    padding-bottom: 20px;
}

.time , .price{
    display: flex;
    align-items: center;
    
}

.price:first-child{
    color: var(--cyan);
}

.time img,.price img{
    margin-right: 10px;
}

.image-overlay{
    background-color: var(--cyan);
    position: absolute;
    height: 400px;
    width: 400px;
    top: 25px;
    left: 25px;
    border-radius: 2%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-overlay:hover{
    opacity: 0.6;
}

.creator{
    display: flex;
    align-items: center;
}

.creator-image{
    width: 50px;
    margin-right: 20px;
    border: 2px solid var(--white);
    border-radius: 100%;
}

.name{
    color: var(--white);

}

.name:hover{
    color: var(--cyan);
}